/* Footer.css file */

.footer--section {
    text-align: center;
}

.footer--section--description {
    color: #DAD6CF;

}

.footer--section--icons {
    justify-content: center;
    text-align: center;
    font-size: 32px;
    color: black;
}

.footer--section--icons:hover {
    color: #FC3636;
}