/* projects.css file */

.projects--section {
    display: grid;
    background: #DAD6CF;
    border-radius: 1%;
}

.projects--section--title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.projects--section--title--header {
    color: #000000;
    margin-top: 10px;
}

.projects--section--title--colored {
    color: #FC3636;
}

.projects--section--description {
    color: #000000;
    text-align:justify-center;
    font-size: large;
    margin-left: 24px;
}